<link rel="icon" href="%PUBLIC_URL%/favicon.ico" />

<div class="container">

    <div class="settings-container">
        <div class="toggle-container">
            <input class="checkbox" type="checkbox" id="toggle" (change)="this.toggleClicked()" />
            <label class="toggle" for="toggle">
                <i class="bi bi-sun toggle-image"></i>
                <i class="bi bi-moon toggle-image"></i>
                <span id="ball" (click)="this.toggleClicked()"></span>
            </label>
        </div>

        <button type="button" class="history-image" mat-icon-button aria-label="iconButton"
            (click)="this.showHistory()">
            <mat-icon>history</mat-icon>
        </button>

    </div>


    <div class="equal-button">
        <div class="equal-image">
            <button mat-icon-button aria-label="iconButton">
                <mat-icon> drag_handle </mat-icon>
            </button>
        </div>
    </div>

    <div class="result">
        <span class="result-text">{{ result }}</span>
        <span class="value" *ngIf="value.active">{{ value.value }}</span>
    </div>

    <div class="buttons">
        <div class="col-75">
            <div class="row row-button">
                <div class="button" (click)="click(button)" *ngFor="let button of this.horizontalButtons">{{ button }}
                </div>
            </div>
            <div class="row" *ngFor="let row of this.regularButtons">
                <div class="button regular-button" (click)="click(button)" *ngFor="let button of row">{{ button }}</div>
            </div>
        </div>
        <div class="col-25">
            <div class="col-button">
                <div class="row-25 button" (click)="click(button)" *ngFor="let button of verticalButtons">{{ button }}
                </div>
            </div>
        </div>
    </div>

</div>